.chart {
  margin-top: 100px;
  text-align: center;
}
polygon.chart-elem {
  stroke: #EF4658;
  fill: #EF4658;
  stroke-width: 2px;
  fill-opacity: 0.6;
}
circle.chart-elem,
path.chart-elem {
  fill : #EF4658;
}
line.chart-elem {
  stroke: #EF4658;
  stroke-width: 2px;
}
